@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  .stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;

    .time {
      font-size: xxx-large;
    }

    .control-button-group {
      .start {
        background-color: green;
      }

      .stop {
        background-color: red;
      }

      .reset {
        background-color: grey;
      }

      button {
        margin: 20px;
        padding: 10px 20px 10px 20px;
        color: white;
        border-radius: 5px;
      }
    }
  }

}